{% extends 'association/association-base.html' %}
{% block segment %}
{#    < class="ui segment">#}
        <div class="ui dividing header">
            لیست درخواست‌ها
        </div>
        <div class="ui top attached tabular menu">
  <a class="my item active" data-tab="first">درخواست های جدید</a>
  <a class="my item" data-tab="second">درخواست های اخذ شده</a>
  <a class="my item" data-tab="third">درخواست های بررسی شده</a>
            <a class="my item" data-tab="fourth">درخواست های حذف شده</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="first">
<button class="ui button red">حذف</button>
<button class=" ui button yellow">ذخیره تغییرات</button>
  <table class="ui unstackable selectable sortable striped table">
            <thead>
            <tr>
                <th>انتخاب</th>
                <th>نوع درخواست</th>
                <th>تاریخ ایجاد</th>
                <th>نام متقاضی</th>
                <th>مشاهده</th>
                <th>وضعیت</th>
            </tr>
            </thead>

            <tbody>
            {% for app in apps %}
            <tr>
                <td style="text-align: center"><input type="checkbox"> </td>
                <td>{{ app.facility.title }}</td>
                <td>{{ app.application.finalization_date }}۱۳۹۴/۰۴/۱۰</td>
                <td>{{ app.application.user.user.first_name }}</td>
                <td>   <button class="ui blue button">مشاهده اطلاعات درخواست</button> </td>
                <td>
                    <div class="ui selection dropdown">
  <input type="hidden" name="status">
  <i class="dropdown icon"></i>
                            <div class="default text">بررسی نشده</div>
  <div class="menu">
    <div class="item" data-value="1">بررسی نشده</div>
    <div class="item" data-value="0">در حال بررسی</div>

  </div>


</div>
                </td>
            </tr>
    {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="10">
                    <div class="ui right floated pagination menu">

                        <div class="icon item">
                            <i class="left chevron icon"></i>
                        </div>

                        <div class="active item">۱</div>

                        <a class="item">۲</a>

                        <div class="item">...</div>

                        <a class="item">۵</a>

                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>

                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
       </div>

<div class="ui bottom attached tab segment" data-tab="second">
<button class="ui button red">حذف</button>
<button class=" ui button yellow">ذخیره تغییرات</button>
<table class="ui unstackable selectable sortable striped table">
            <thead>
            <tr>
                <th>انتخاب</th>
                <th>نوع درخواست</th>
                <th>تاریخ ایجاد</th>
                <th>نام متقاضی</th>
                <th>مشاهده</th>
                <th>وضعیت</th>
            </tr>
            </thead>

            <tbody>
            {% for receivedApp in receivedApps %}
            <tr>
                <td style="text-align: center"><input type="checkbox"> </td>
                <td>{{ receivedApp.facility.title }}</td>
                <td>{{ receivedApp.application.finalization_date }}۱۳۹۴/۰۴/۱۰</td>
                <td>{{ receivedApp.application.user.user.first_name }}</td>
                <td>   <button class="ui yellow button">مشاهده اطلاعات درخواست</button> </td>
                <td>
                    <div class="ui selection dropdown">
  <input type="hidden" name="status">
  <i class="dropdown icon"></i>
  <div class="default text">بررسی نشده</div>
  <div class="menu">
    <div class="item" data-value="0">در حال بررسی</div>
      <div class="item" data-value="1">عقد قرارداد</div>
    <div class="item" data-value="0">در حال همکاری</div>
      <div class="item" data-value="1">اتمام همکاری </div>
    <div class="item" data-value="0"> رد شده </div>

  </div>
</div>
                </td>
            </tr>
{% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="10">
                    <div class="ui right floated pagination menu">

                        <div class="icon item">
                            <i class="left chevron icon"></i>
                        </div>

                        <div class="active item">۱</div>

                        <a class="item">۲</a>

                        <div class="item">...</div>

                        <a class="item">۵</a>

                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>

                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
</div>
<div class="ui bottom attached tab segment" data-tab="third">
<button class="ui button red">حذف</button>
<button class=" ui button yellow">ذخیره تغییرات</button>
<table class="ui unstackable selectable sortable striped table">
            <thead>
            <tr>
                <th>انتخاب</th>
                <th>نوع درخواست</th>
                <th>تاریخ ایجاد</th>
                <th>نام متقاضی</th>
                <th>مشاهده</th>
                <th>وضعیت</th>
            </tr>
            </thead>

            <tbody>
            {% for reviewedApp in reviewedApps %}
            <tr>
                <td style="text-align: center"><input type="checkbox"> </td>
                <td>{{ reviewedApp.facility.title }}</td>
                <td>{{ reviewedApp.application.finalization_date }}۱۳۹۴/۰۴/۱۰</td>
                <td>{{ reviewedApp.application.user.user.first_name }}</td>
                <td>   <button class="ui yellow button">مشاهده اطلاعات درخواست</button> </td>
                <td>
                    <div class="ui selection dropdown">
  <input type="hidden" name="status">
  <i class="dropdown icon"></i>
  <div class="default text">بررسی نشده</div>
  <div class="menu">
    <div class="item" data-value="0">در حال بررسی</div>
      <div class="item" data-value="1">عقد قرارداد</div>
    <div class="item" data-value="0">در حال همکاری</div>
      <div class="item" data-value="1">اتمام همکاری </div>
    <div class="item" data-value="0"> رد شده </div>

  </div>
</div>
                </td>
            </tr>
{% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="10">
                    <div class="ui right floated pagination menu">

                        <div class="icon item">
                            <i class="left chevron icon"></i>
                        </div>

                        <div class="active item">۱</div>

                        <a class="item">۲</a>

                        <div class="item">...</div>

                        <a class="item">۵</a>

                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>

                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
</div>
<div class="ui bottom attached tab segment" data-tab="fourth">
<table class="ui unstackable selectable sortable striped table">
    <button class="ui button green">بازیابی</button>
<button class=" ui button yellow">ذخیره تغییرات</button>
            <thead>
            <tr>
                <th>انتخاب</th>
                <th>نوع درخواست</th>
                <th>تاریخ ایجاد</th>
                <th>نام متقاضی</th>
                <th>مشاهده</th>
                <th>وضعیت</th>
            </tr>
            </thead>

            <tbody>
            {% for deletedApp in deletedApps %}
            <tr>
                <td style="text-align: center"><input type="checkbox"> </td>
                <td>{{ deletedApp.facility.title }}</td>
                <td>{{ deletedApp.application.finalization_date }}۱۳۹۴/۰۴/۱۰</td>
                <td>{{ deletedApp.application.user.user.first_name }}</td>
                <td>   <button class="ui yellow button">مشاهده اطلاعات درخواست</button> </td>
                <td>
                    <div class="ui selection dropdown">
  <input type="hidden" name="status">
  <i class="dropdown icon"></i>
  <div class="default text">بررسی نشده</div>
  <div class="menu">
    <div class="item" data-value="0">در حال بررسی</div>
      <div class="item" data-value="1">عقد قرارداد</div>
    <div class="item" data-value="0">در حال همکاری</div>
      <div class="item" data-value="1">اتمام همکاری </div>
    <div class="item" data-value="0"> رد شده </div>

  </div>
</div>
                </td>
            </tr>
{% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="10">
                    <div class="ui right floated pagination menu">

                        <div class="icon item">
                            <i class="left chevron icon"></i>
                        </div>

                        <div class="active item">۱</div>

                        <a class="item">۲</a>

                        <div class="item">...</div>

                        <a class="item">۵</a>

                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>

                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
</div>



{% endblock %}

