{% extends 'manager/manager-base.html' %}
{% load staticfiles %}
{% block segment %}
    <div class="ui segment">

        <div class="ui dividing header">
            پیغام‌های شما
        </div>

        <div class="ui comments">
            <h3 class="ui dividing header">Comments</h3>

            <div class="comment">
                <a class="avatar">
                    <img src="{% static 'images/avatar/small/matt.jpg' %}">
                </a>

                <div class="content">

                    <a class="author">علی حسینی</a>

                    <div class="metadata">
                        <span class="date">امروز در ساعت ۰۹:۱۴</span>
                    </div>
                    <div class="text">
                        درخواست شما ناقص است.
                    </div>
                    <div class="actions">
                        <a class="reply">پاسخ</a>
                    </div>
                </div>
            </div>
            <div class="comment">
                <a class="avatar">
                    <img src="{% static 'images/avatar/small/matt.jpg' %}">
                </a>

                <div class="content">
                    <a class="author">اکبر اکبری</a>

                    <div class="metadata">
                        <span class="date">امروز در ساعت ۱۰:۰۳</span>
                    </div>
                    <div class="text">
                        <p>درخواست خودتان ناقص است. با تشکر!!</p>
                    </div>
                    <div class="actions">
                        <a class="reply">Reply</a>
                    </div>
                </div>
                <div class="comments">
                    <div class="comment">
                        <a class="avatar">
                            <img src="{% static 'images/avatar/small/matt.jpg' %}">
                        </a>

                        <div class="content">
                            <a class="author">Jenny Hess</a>

                            <div class="metadata">
                                <span class="date">Just now</span>
                            </div>
                            <div class="text">
                                Elliot you are always so right :)
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment">
                <a class="avatar">
                    <img src="{% static 'images/avatar/small/matt.jpg' %}">
                </a>

                <div class="content">
                    <a class="author">Joe Henderson</a>

                    <div class="metadata">
                        <span class="date">5 days ago</span>
                    </div>
                    <div class="text">
                        Dude, this is awesome. Thanks so much
                    </div>
                    <div class="actions">
                        <a class="reply">Reply</a>
                    </div>
                </div>
            </div>
            <form class="ui reply form">
                <div class="field">
                    <textarea></textarea>
                </div>
                <div class="ui blue labeled submit icon button">
                    <i class="icon edit"></i> Add Reply
                </div>
            </form>
        </div>

    </div>
{% endblock %}