<style>
    .ui-menu .ui-menu-item {
        font-size: 12px;
    }
</style>
{% extends 'manager/manager-base.html' %}
{% load staticfiles %}
{% block segment %}
    <form class="ui form" method="post" action="ComposeMessageSubmit/">
        {% csrf_token %}
        <h4 class="ui dividing header">اطلاعات پیام</h4>

        <div class="field">
            <label>
                عنوان
            </label>

            <div class="fields">
                <div class="twelve wide field">
                    <input type="text" name="title" placeholder="عنوان">
                </div>
            </div>
        </div>
        <div class="field">
            <label>
                دریافت کننده
            </label>

            <div class="fields">
                <div class="twelve wide field">
                    <input type="text" onblur="getApplications();" id="receiver" name="receiver" placeholder="دریافت کننده">
                </div>

            </div>

        </div>
        <div class="field">
            <div class="two wide field">
                <label>
                    درخواست
                </label>
                <select id="applications" name="applications">
                </select>
            </div>
        </div>
        <div class="field">
            <label>
                متن پیام
            </label>
            <textarea name="content"></textarea>
        </div>
        <button type="submit" class="ui blue button">ارسال</button>
    </form>
{% endblock %}
{% block scripts %}
    <script src="{% static 'javascripts/manager/ajax_user_search.js' %}"></script>
    <script src="{% static 'javascripts/manager/ajax_application.js' %}"></script>
{% endblock %}