{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="image_src" type="image/jpeg" href="{% static 'images/logo.png' %}">

    <!-- Site Properities -->
    <title>بنیاد ملی نخبگان - طراحی جدید</title>

    <meta name="description"
          content="Semantic empowers designers and developers by creating a shared vocabulary for UI.">
    <meta name="keywords" content="html5, ui, library, framework, javascript">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.rtl.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/plans.css' %}">

</head>
<body id="plans">
<div class="wrapper">
    <div class="full height">
        <div class="following bar light fixed">
            <div class="ui page grid">
                <div class=" column">
                    <div class="ui logo right">
                        <img class="ui image" src="{% static 'images/logo.png' %}">
                    </div>
                    <div class="ui logo left">
                        <img class="ui image" src="{% static 'images/president.png' %}">
                    </div>
                    <h2 class="text">
                        سامانه همکاری با متخصصان و دانشمندان برجسته ایرانی غیرمقیم
                    </h2>
                </div>
            </div>
        </div>
        <div class="ui stripe vertical segment">
            <div class="ui page grid">
                <div class="ui column">
                    <div class="ui segment">
                        <div class="ui red center aligned header">
                            طرح پایگاه‌های تخصصی جذب متخصصان و دانشمندان برجسته ایرانی غیر مقیم
                        </div>
                        <p>
                            در راستای نیل به اهداف بلند مدت چشم‌انداز علمی كشور و بهره‌گیری از ذخایر علمی دانشمندان و
                            متخصصان ایرانی غیرمقیم، این طرح به منظور انتقال دانش، تجربه، و ایده‌های فناورانه به کشور با
                            همكاری معاونت علمی و فناوری ریاست جمهوری، بنیاد ملی نخبگان‌ و مراکز پژوهشی برگزیده
                            كشور(پایگاه‌های تخصصی جذب) در حوزه‌های: سلول‌های بنیادی، فناوری اطلاعات و ارتباطات، مهندسی
                            پزشکی، رباتیک پزشکی، بیوشیمی، بیوفیزیك و علوم و فناوری‌های شناختی (Cognitive Science) اجرا
                            می‌گردد تا در قالب حمایت از انجام دوره‌های علمی و پژوهشی شامل پسا دكتری، فرصت مطالعاتی،
                            تعریف پروژه‌های فناوری كوتاه مدت و بلندمدت، و انجام سخنرانی‌ها و برگزاری كارگاه‌های تخصصی به
                            ارتباط موثر دانشمندان و متخصصان ایرانی غیرمقیم و مراکز پژوهشی برگزیده کشور یاری نماید.
                        </p>

                        <div class="ui center aligned column">
                            <a class="ui green large button" tabindex="0" href="/intro/">
                                جستجوی پایگاه‌ها
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" style="margin-top: 150px;">
            </div>
            <div class="ui page centered grid">
                <div class="ui fourteen wide center aligned column">
                    <div class="ui segment">
                        <div class="ui seven cards">
                            <div class="card">
                                <a class="image">
                                    <img src="{% static 'images/logos/sharif.png' %}">
                                </a>

                                <div class="content">
                                    <div class="meta">
                                        <a>دانشگاه صنعتی شریف</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <a class="image">
                                    <img src="{% static 'images/logos/tehran.png' %}">
                                </a>

                                <div class="content">
                                    <div class="meta">
                                        <a>دانشگاه تهران</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <a class="image">
                                    <img src="{% static 'images/logos/pardis.png' %}">
                                </a>

                                <div class="content">
                                    <div class="meta">
                                        <a>پارک پردیس فناوری</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <a class="image">
                                    <img src="{% static 'images/logos/royan.png' %}">
                                </a>

                                <div class="content">
                                    <div class="meta">
                                        <a>پژوهشکده رویان</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <a class="image">
                                    <img src="{% static 'images/logos/itrc.png' %}">
                                </a>

                                <div class="content">
                                    <div class="meta">
                                        <a>مرکز تحقیقات مخابرات و فناوری اطلاعات</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <a class="image">
                                    <img src="{% static 'images/logos/olum.png' %}">
                                </a>

                                <div class="content">
                                    <div class="meta">
                                        <a>دانشکده علوم پزشکی دانشگاه تهران</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <a class="image">
                                    <img src="{% static 'images/logos/iricss.png' %}">
                                </a>

                                <div class="content">
                                    <div class="meta">
                                        <a>پژوهشکده علوم شناختی</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
</div>
<script src="{% static 'javascripts/library/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'semantic/semantic.min.js' %}"></script>
<script src="{% static 'javascripts/plans.js' %}"></script>
</body>
</html>