{% extends 'users/user-base.html' %}
{% load staticfiles %}
{% block segment %}

    <div class="ui dividing header">
        ایجاد درخواست جدید
    </div>

    <form class="ui form" method="POST" action="/users/requests/new/">
        {% csrf_token %}
        <div class="inline fields">
            <input type="hidden" name="type-id" id="type-id">

            <div class="thirteen wide field">
                <div class="ui fluid selection dropdown">
                    <input type="hidden" name="type" id="hidden-input">
                    <i class="dropdown icon"></i>

                    <div class="default text">
                        انتخاب نوع درخواست
                    </div>
                    <div class="menu">
                        <div class="item">
                            <i class="attention icon"></i>
                            تسهیلات همکاری با متخصصان غیر مقیم
                        </div>
                        <div class="item">
                            <i class="comment icon"></i>
                            تسهیلات نظام وظیفه
                        </div>
                    </div>
                </div>
            </div>
            <div class="three wide field">
                <input type="submit" class="ui fluid teal button" value="ایجاد درخواست"/>
            </div>

        </div>
    </form>

    <div class="ui dividing header">
        درخواست‌های ثبت نهایی شده
    </div>

    <table class="ui unstackable selectable sortable striped table">
        <thead>
        <tr>
            <th>نوع درخواست</th>
            <th>تاریخ ایجاد</th>
            <th>وضعیت</th>
             <th> مشاهده</th>
             <th> برقراری ارتباط </th>
        </tr>
        </thead>

        <tbody>
        {% for cc in complete_coops %}
        <tr>
            <td> {{ cc.facility }} - {{ cc.field }}</td>
            <td>{{ cc.application.finalization_date }}</td>
            <td> {{ cc.get_status_display }}</td>
            <td><a class="ui green button" href="/users/requests/view/{{ cc.id }}/">
                مشاهده
            </a></td>
        <td> <a class="ui blue button" href="/users/requests/messages/{{ cc.id }}/">
پیام ها
        </a></td>

        </tr>
       {% endfor %}

        </tbody>
    </table>



    <div class="ui dividing header">
        درخواست‌های ثبت نهایی نشده
    </div>

    <table class="ui unstackable selectable sortable striped table">
{#        <thead>#}
{#        <tr>#}
{#            <th> درخواست</th>#}
{#            <th> </th>#}
{#            <th> </th>#}
{##}
{#        </tr>#}
{#        </thead>#}

        <tbody>
        {% for sc in saved_coops %}
        <tr>

            <td>{{ sc.facility }} - {{ sc.field }}</td>
            <td> <a class="ui yellow button"  href="/users/requests/edit/{{ sc.id }}/" >
            تکمیل درخواست
            </a> </td>
         <td> <a class="ui red button" href="/users/requests/delete/{{ sc.id }}/">
         حذف درخواست
         </a> </td>


        </tr>
        {% endfor %}
        {% for sm in saved_military %}
        <tr>

            <td>{{ sm }}</td>


        </tr>
        {% endfor %}


        </tbody>
    </table>

{% endblock %}
{% block scripts %}
    <script src="{% static 'javascripts/library/tablesort.min.js' %}"></script>
    <script src="{% static 'javascripts/user-dashboard.js' %}"></script>
    <script src="{% static 'javascripts/users/new-request.js' %}"></script>
{% endblock %}