{% extends 'users/user-base.html' %}
{% load staticfiles %}
{% block segment %}

    <div class="ui dividing header">
        درخواست ارتباط با مدیریت
    </div>

    {% if form.errors %}
        <div class="ui negative message">
            <i class="close icon"></i>

            <div class="header">
                خطا
            </div>
            {{ form.errors }}
        </div>
    {% endif %}

    <form class="ui form" method="POST" action="/users/requests/new/contact/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
            <label>
                عنوان درخواست
            </label>
            {{ form.request_title }}
        </div>
        <div class="field">
            <label>
                متن درخواست
            </label>
            {{ form.text }}
        </div>
        <div class="field">
            <label>
                فایل ضمیمه
            </label>
            {{ form.attachment }}
        </div>
        <button class="ui teal button">
            ایجاد درخواست
        </button>
    </form>

{% endblock %}
{% block scripts %}
    <script src="{% static 'javascripts/library/tablesort.min.js' %}"></script>
{% endblock %}