{% extends 'users/user-base.html' %}

{% load static %}


{% block head_content %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/signup.css' %}">
    <link rel="stylesheet" href="{% static 'jalalicalendar/skins/calendar-green.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/calendar.css' %}">
{% endblock %}


{% block segment %}
    <div class="ui segment">
        {% if formset.errors %}
            <div class="ui negative message">
                {% for form in formset %}
                    {{ form.errors }}
                {% endfor %}
            </div>
        {% else %}
            <div class="ui info message">
                اطلاعات مربوط به دوره‌های تحصیلی خود را به دقت در فرم زیر وارد کنید.
            </div>
        {% endif %}
    </div>


    <h4 class="ui dividing header"></h4>


    <div class="ui segment">

        <form class="ui large form" method="post" enctype="multipart/form-data" id="form"
              action="/users/cons/education/">
            <input type="hidden" value="1" id="num_of_forms_hidden" name="num_of_forms_hidden">
            {% csrf_token %}

            {{ formset.management_form }}

            {% for form in formset.forms %}
                <div class="ui segment">
                    {{ form.id }}

                    <div class="ui dividing header">
                        اطلاعات دوره تحصیلی:
                    </div>
                    <div class="three fields">
                        <div class="required field">
                            <label>
                                دوره تحصیلی
                            </label>
                            {{ form.title }}
                        </div>
                        <div class="required field">
                            <label>
                                کشور محل تحصیل
                            </label>
                            {{ form.country }}
                        </div>
                        <div class="required field">
                            <label>
                                دانشگاه
                            </label>
                            {{ form.university }}
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="required field">
                            <label>
                                رشته تحصیلی
                            </label>
                            {{ form.education_major }}
                        </div>
                        <div class="required field">
                            <label>
                                معدل
                            </label>
                            {{ form.gpa }}
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="required field">
                            <label>
                                تصویر اصل مدرک
                            </label>
                            {{ form.photo_of_document }}
                        </div>
                        <div class="required field">
                            <label>
                                تصویر ریز نمرات
                            </label>
                            {{ form.photo_of_grades }}
                        </div>
                        <div class="required field">
                            <label>
                                ارزشنامه مدرک تحصیلی خارجی
                            </label>
                            {{ form.vezarat_proof }}
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="two fields">
                            <div class="field">
                                <label>
                                    تاریخ شروع تحصیل
                                </label>
                                {{ form.begin_date }}
                            </div>
                            <div class="field">
                                <input class="cal btn" id="id_form-{{ forloop.counter0 }}-period_begin_btn" name="form-{{ forloop.counter0 }}-period_begin_btn"
                                       type="button"/>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>
                                    تاریخ پایان تحصیل
                                </label>
                                {{ form.end_date }}
                            </div>
                            <div class="field">
                                <input class="cal btn" id="id_form-{{ forloop.counter0 }}-period_end_btn" name="form-{{ forloop.counter0 }}-period_end_btn"
                                       type="button"/>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


            <button class="ui primary button" type="submit">
                ذخیره اطلاعات
            </button>
        </form>
    </div>

    <div class="ui center aligned grid">
        <div class="four wide column">
            <br>
            <button class="ui center aligned large green button" id="add_new_form">
                + افزودن دوره تحصیلی
            </button>
        </div>
    </div>

    <div></div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'jalalicalendar/jalali.js' %}"></script>
    <script src="{% static 'jalalicalendar/calendar.js' %}"></script>
    <script src="{% static 'jalalicalendar/calendar-setup.js' %}"></script>
    <script src="{% static 'jalalicalendar/lang/calendar-fa.js' %}"></script>
    <script src="{% static 'javascripts/cons/addform.js' %}"></script>
    <script src="{% static 'javascripts/cons/education.js' %}"></script>
{% endblock %}